/* form { 
    
    width: 300px;
    padding: 20px;
    color: white;
  } */

  .simpleForm { 
  
   
    padding: 10px;
    ;

  }
  .btn-secondary {
    color: #fff;
    /* background-color: #6c757d; */
    text-align: center;
    background-color: blueviolet;
    border-color: #6c757d;
    
    
}